src/main/resources/xsd/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/sample"
           xmlns:tns="http://example.com/sample"
           elementFormDefault="qualified">

    <!-- Sample Request Element -->
    <xs:element name="SampleRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="name" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Sample Response Element -->
    <xs:element name="SampleResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="data" type="xs:string"/>
                <xs:element name="status" type="xs:int"/>
                <xs:element name="message" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Sample Fault Element -->
    <xs:element name="SampleFault">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="faultCode" type="xs:string"/>
                <xs:element name="faultString" type="xs:string"/>
                <xs:element name="correlationId" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
